<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans profile="jpa,datajpa">
        <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
            <property name="properties" value="entityManagerFactory.jpaPropertyMap[#{T(org.hibernate.cfg.AvailableSettings).USE_SECOND_LEVEL_CACHE}]=false"/>
        </bean>
    </beans>
</beans>
